<script type="module">
/* Each module has its own top-level scope. To make the *reveal()* function global so that *onmouseover* can access it,
we have defined the function as a property of the *window* object. In a web browser, the *window* object is the global object.

Alternatively, you can remove the type='module' attribute from the <script> element. In that case, all the variables and functions
defined in the <script> element will have a global scope. However, modules are always deferred, and that's why we have used a module here.
*/
window.reveal = function(element) {
  if (element.id == "email") {
    const ADDRESS = "{{ site.email-username }}" + String.fromCharCode(64) + "{{ site.email-domain }}";
    // data-title is a non-standard attribute and cannot be accessed via the element.attribute notation.
	element.setAttribute("data-title", ADDRESS);
    element.href = ":otliam".split("").reverse().join("") + ADDRESS;
  } else if (element.id == "phone") {
	element.setAttribute("data-title", "{{ site.phone }}".split("").reverse().join(""));
    element.href = "{{ site.phone-url }}".split("").reverse().join("");
  }
};
</script>
