---
layout: compress
---
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>

{% if site.google-analytics %}
	{% include google-analytics.html %}
{% endif %}

<!-- Note that in Liquid, *nil* is not equal to *false*, even though both evaluate to *falsy* -->
{% if page.sitemap == false %}
	<meta name="robots" content="noindex">
{% endif %}

{% if page.title_override %}
	{% assign page_title = page.title_override %}
{% elsif page.title == "Home" %}
	{% capture page_title %}{{ site.name }} | {{ site.bio }}{% endcapture %}
{% else %}
	{% capture page_title %}{{ page.title }} | {{ site.name }}{% endcapture %}
{% endif %}

<title>{{ page_title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}"/>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=author content="{{ site.name }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml"/>
<meta name="google-site-verification" content="5yTVGipNgEj_T4EaMDBrSh-1xf_sIr16dVoPp8EzPAQ" />

<!-- Open Graph https://ogp.me -->
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="image" property="og:image" content="{% unless site.external-image %}{{ site.url }}/assets/images/{% endunless %}{{ site.picture }}" />
<meta property="og:image:alt" content="{{ site.name }}" />

<style>
{% capture scss_sheet %}{% include style.scss %}{% endcapture %}
{{ scss_sheet | scssify }}
</style>

</head>
<body>

<div class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
	{% if page.tag %}
		<div class="post">
	{% else %}
		{% if showHeader != true %}
			<div class="page {{ page.title | downcase }}">
		{% else %}
			<div class="{{ page.title | downcase }}">
		{% endif %}
	{% endif %}

		{{ content }}
	</div>
</div>

{% include icons.html %}

</body>
</html>
